.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.features-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-custom {
  color: #ffd700;
}

:host {
  .card-dependency {
    ::ng-deep .p-card {
      .p-card-content,
      .p-card-body {
        padding: 0;
      }
    }
  }

  .hero-buttons {
    ::ng-deep .p-button {
      border: 1px solid #967f00;
    }
  }

  ::ng-deep .p-badge {
    background-color: #ffd700;
    color: var(--custom-text-color);
    margin-top: 15px;
  }
}
