.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.features-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  i {
    font-size: 2rem;
    color: #3b82f6;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--custom-text-color);
  }
}

.icon-custom {
  color: #ffd700;
}

:host {
  .card-dependency {
    ::ng-deep .p-card {
      .p-card-content,
      .p-card-body {
        padding: 0;
      }
    }
  }

  .hero-buttons {
    ::ng-deep .p-button {
      border: 1px solid #967f00;
    }
  }

  ::ng-deep .p-badge {
    background-color: #ffd700;
    color: var(--custom-text-color);
  }
}
