.surface-card {
  margin-bottom: 20px;
}

.icon-button {
  width: 2.5rem; /* Imposta una larghezza fissa */
  height: 2.5rem; /* Imposta un'altezza fissa */
  display: flex;
  align-items: center;
  justify-content: center;
}

p-breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: var(--font-weight-bold);
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

:host {
  ::ng-deep .surface-card {
    border: 1px solid #e5e7eb;
  }

  ::ng-deep .surface-card.dark-theme {
    background-color: var(--navbar-bg-color) !important;
  }

  ::ng-deep nav.p-breadcrumb.p-component {
    font-family: var(--custom-font-family);
    width: 600px;
  }

  ::ng-deep .p-overlay-badge .p-badge {
    top: auto;
    right: auto;
  }

  ::ng-deep .p-inputgroup > .p-component {
    border-radius: 6px;
  }

  ::ng-deep .p-dialog {
    font-family: var(--custom-font-family);
    background: var(--custom-text-color);
  }

  ::ng-deep .p-dialog .p-dialog-header {
    background: none;
  }

  ::ng-deep .p-dialog .p-dialog-content {
    background: none;
  }

  ::ng-deep .p-inputgroup .p-inputtext {
    width: 100%;
  }

  ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
    color: inherit;
  }
}