:host {
  ::ng-deep .surface-card {
    border: 1px solid #e5e7eb;
  }

  ::ng-deep .surface-card.dark-theme {
    background-color: var(--navbar-bg-color) !important;
  }

  ::ng-deep nav.p-breadcrumb.p-component {
    font-family: var(--custom-font-family);
    width: 600px;
  }

  ::ng-deep .p-overlay-badge .p-badge {
    top: auto;
    right: auto;
  }
}

.surface-card {
  margin-bottom: 20px;
}

p-breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: var(--font-weight-bold);
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}
