:root {
  // Font family
  --custom-font-family: "Roboto", sans-serif;

  // Font weights
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Font sizes
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */

  // Line heights
  --line-height-tight: 1.25;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;

  // Light theme
  --background-color: #e6e5e5;
  --custom-text-color: #64748b;

  --scrollbar-width: 12px;
  --scrollbar-thumb-color: #888;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-hover-color: #666;
}

body {
  font-family: var(--custom-font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  background-color: var(--background-color);
  color: var(--custom-text-color);
}
// Dark theme
body.dark-theme {
  --background-color: #343a40;
  --navbar-bg-color: #e6e5e5;
  --custom-text-color: #f1f1f1;
}

.dark-theme {
  --scrollbar-thumb-color: #64748b;
  --scrollbar-track-color: #e6e5e5;
  --scrollbar-thumb-hover-color: #434d5c;
}

// Utility classes
.text-xs {
  font-size: var(--font-size-xs);
}
.text-sm {
  font-size: var(--font-size-sm);
}
.text-base {
  font-size: var(--font-size-base);
}
.text-lg {
  font-size: var(--font-size-lg);
}
.text-xl {
  font-size: var(--font-size-xl);
}
.text-2xl {
  font-size: var(--font-size-2xl);
}

.font-light {
  font-weight: var(--font-weight-light);
}
.font-normal {
  font-weight: var(--font-weight-regular);
}
.font-medium {
  font-weight: var(--font-weight-medium);
}
.font-bold {
  font-weight: var(--font-weight-bold);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}
